* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
}
header {
  min-height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: azure;
}
h1 {
  color: olivedrab;
  padding: 15px;
}
li {
  list-style: none;
}

.hamburger {
  display: block;
  margin-bottom: 20px;
}
.bar {
  display: block;
  width: 50px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: olivedrab;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: azure;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.nav-link {
  color: olivedrab;
}
.nav-item {
  margin: 16px 0;
}
.nav-menu.active {
  left: 0;
}
/*start footer styling*/
footer {
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}
.all-rights-reserved {
  font-size: 14px;
  color: darkgray;
}
/* START Style for "font awesome" social media icons */
.fa {
  padding: 8px;
  font-size: 18px;
  width: 38px;
  text-align: center;
  text-decoration: none;
  border: 3px solid darkolivegreen;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-google {
  background: #dc4e41;
  color: white;
}

.fa-pinterest {
  background: #bd081c;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}
/*end social media icons*/
/*start media query for tablet*/
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .navbar {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* gap: 20px; */
  }
  .nav-link {
    transition: 0.7s ease;
    color: hsl(120, 100%, 25%);
    text-decoration: none;
  }
  .nav-link:hover {
    color: pink;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
/*start contact form copied and not edited yet*/

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

form {
  /* padding: 0 10px 20px 20px;
  line-height: 1.5; */
}

#email {
  height: 25px;
  width: 285px;
}
textarea {
  margin-top: 10px;
  width: 335px;
  height: 100px;
}
#submit {
  font-size: 16px;
  letter-spacing: 2px;
}
#reset {
  font-size: 16px;
  letter-spacing: 2px;
}

#name {
  width: 248px;
}
#address {
  width: 248px;
}
@media (min-width: 375px) {
  span:last-of-type {
    display: block;
  }
}
/* start tablet display */
@media (min-width: 576px) {
  /* h1 {
    font-size: 38px;
    padding: 0 30px;
  } */
  form {
    font-size: 22px;
  }
  #name {
    width: 380px;
  }
  #address {
    width: 380px;
  }
  #submit {
    font-size: 20px;
  }
  #reset {
    font-size: 20px;
  }
  #email {
    height: 30px;
    width: 432px;
  }
  textarea {
    width: 500px;
    height: 100px;
    font-size: 16px;
  }
}
/* start desktop responsive display */
@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
  form {
    font-size: 24px;
  }
  #name {
    width: 673px;
  }
  #address {
    width: 673px;
  }
  #submit {
    font-size: 22px;
  }
  #reset {
    font-size: 22px;
  }
  #email {
    width: 728px;
  }
  textarea {
    width: 800px;
    font-size: 18px;
  }

  form {
    padding: 0 20px 20px 20px;
    line-height: 2;
  }

  textarea {
    margin-top: 25px;
  }
}
