* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*mobile first*/
body {
  width: 100vw;
}
button {
  background-color: rgb(158, 233, 220);
  border: none;
  padding: 5px 5px;
}
h1 {
  color: olivedrab;
  padding: 10px;
  font-size: 40px;
}

header {
  min-height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: azure;
}

li {
  list-style: none;
}
/*start hamburger menu  */
.bar {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: gray;
}
.hamburger {
  display: block;
  margin-bottom: 20px;
  background-color: rgb(158, 233, 220);
  padding: 4px;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/*end hamburger menu  */
/*start navbar menu  */
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-link {
  color: azure;
  text-decoration: none;
  background-color: rgba(142, 221, 122, 0.419);
  padding: 5px;
  border: 2px solid azure;
  /* width: 100%; */
}
.nav-menu {
  /* position: fixed;
  left: -100%;
  top: 70px; */
  display: none;
  gap: 0;
  flex-direction: column;
  background-color: azure;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.nav-item {
  margin: 16px 0;
}
.nav-menu.active {
  display: flex;
  flex-direction: column;
  background-color: rgb(158, 233, 220);
  width: 90%;
  align-items: stretch;
}

.home-link {
  background-color: gray;
}
/*end navbar menu  */
.main_paragraph_pic {
  background-image: url(./images/brunetteWithLeafMain.png);
  background-color: rgba(142, 221, 122, 0.419);
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*start footer styling*/
footer {
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}
.all-rights-reserved {
  font-size: 14px;
  color: darkgray;
}
/* START Style for "font awesome" social media icons */
.fa {
  padding: 8px;
  font-size: 18px;
  width: 38px;
  text-align: center;
  text-decoration: none;
  border: 3px solid darkolivegreen;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-google {
  background: #dc4e41;
  color: white;
}

.fa-pinterest {
  background: #bd081c;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}
/*end social media icons*/
/*start media query for tablet*/
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
    cursor: pointer;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    padding: 0 24px;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    left: 0;
  }

  .nav-link {
    /* transition: 0.7s ease; */
    color: green;
    text-decoration: none;
  }
  .nav-link:hover {
    color: pink;
  }

  /* li {
    display: block;
  }
  .nav-menu.active {
    left: 0;
  } */
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
