* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
}
/*start scroll bar*/
/* .scroller {
  width: 50px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: grey;
} */
html::-webkit-scrollbar {
  color: red;
  width: 40px;
}
html::-webkit-scrollbar-track {
  background: pink;
}
html::-webkit-scrollbar-thumb {
  background: purple;
}

/*end scroll bar*/
header {
  min-height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: azure;
}
h1 {
  color: olivedrab;
  padding: 15px;
}
li {
  list-style: none;
}

.hamburger {
  display: block;
  margin-bottom: 20px;
}
.bar {
  display: block;
  width: 50px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: olivedrab;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: azure;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}
.nav-link {
  color: olivedrab;
}
.nav-item {
  margin: 16px 0;
}
.nav-menu.active {
  left: 0;
}
/*start footer styling*/
footer {
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}
.all-rights-reserved {
  font-size: 14px;
  color: darkgray;
}
/* START Style for "font awesome" social media icons */
.fa {
  padding: 8px;
  font-size: 18px;
  width: 38px;
  text-align: center;
  text-decoration: none;
  border: 3px solid darkolivegreen;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-google {
  background: #dc4e41;
  color: white;
}

.fa-pinterest {
  background: #bd081c;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}
/*end social media icons*/
/*start media query for tablet*/
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .navbar {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* gap: 20px; */
  }
  .nav-link {
    transition: 0.7s ease;
    color: green;
    text-decoration: none;
  }
  .nav-link:hover {
    color: pink;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
