* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*color pallette*/
:root {
  --wintergreen-dream: #6b9080ff;
  --cambridge-blue: #a4c3b2ff;
  --light-cyan: #cce3deff;
  --azure-x-11-web-color: #eaf4f4ff;
  --mint-cream: #f6fff8ff;
  --black-coral: #4c5760ff;
  --pewter-blue: #829598;
  --bright-green: #a7c957;
  --olive-green: #6b8e23;
  --charcoal: #808080;
}
/*mobile first*/
body {
  width: 100vw;
  font-family: "Advent Pro", sans-serif;
  font-family: "Blaka Hollow", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
h1 {
  color: var(--wintergreen-dream);
  padding: 10px;
  font-size: 40px;
}

header {
  min-height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--azure-x-11-web-color);
}

li {
  list-style: none;
}

/*start hamburger menu  */
.bar {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--charcoal);
}
.hamburger {
  display: block;
  margin-bottom: 20px;
  background-color: var(--light-cyan);
  padding: 4px;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/*end hamburger menu  */
/*start navbar menu  */
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-link {
  color: var(--azure-x-11-web-color);
  text-decoration: none;
  padding: 5px;
}

/*end navbar menu  */
main {
  background-image: url(./images/brunetteWithLeafMain.png);
  background-color: var(--wintergreen-dream);
  /* height: 200px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: -1; */
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}
h2 {
  margin-top: 5px;
  font-size: 14px;
  background-color: var(--mint-cream);
  max-width: 45%;
  margin-left: 5px;
  text-align: center;
  color: var(--black-coral);
}
main > p {
  font-size: 14px;
  background-color: var(--charcoal);
  margin-left: 5px;
  text-align: center;
  color: var(--mint-cream);
}
/* .one {
  max-width: 42%;
} */
.two {
  max-width: 58%;
}
.three {
  max-width: 75%;
}
.four {
  max-width: 48%;
}
button {
  font-size: 12px;
  background-color: var(--wintergreen-dream);
  border: none;
  padding: 5px 0;
  max-width: 120px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: var(--black-coral);
  font-weight: bold;
}
/*start 3 pics with captions*/
.image-links {
  border: 3px solid var(--charcoal);
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
section > p {
  font-size: 20px;
  font-weight: bold;
  color: var(--black-coral);
}
/*start footer styling*/
footer {
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  margin-top: 25px;
}
.all-rights-reserved {
  font-size: 14px;
  color: darkgray;
}
/* START Style for "font awesome" social media icons */
.fa {
  padding: 8px;
  font-size: 18px;
  width: 38px;
  text-align: center;
  text-decoration: none;
  border: 3px solid darkolivegreen;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-google {
  background: #dc4e41;
  color: white;
}

.fa-pinterest {
  background: #bd081c;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}
/*end social media icons*/
@media (max-width: 762px) {
  .nav-menu {
    position: fixed;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    background-color: rgba(142, 221, 122, 0.95);
    border: 1px solid azure;
    width: 100%;
    padding: 0.8em;
  }
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: stretch;
    z-index: 1;
  }
  .active-link {
    background: gray;
  }
  main {
    /* height: 200px; */
    z-index: -1;
  }
}
/*start media query for tablet*/
@media (min-width: 576px) {
}
@media (min-width: 763px) {
  .hamburger {
    display: none;
    cursor: pointer;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    padding: 0 24px;
  }

  .nav-link {
    /* transition: 0.7s ease; */
    color: olivedrab;
    text-decoration: none;
  }
  .nav-link:hover {
    color: pink;
  }

  .nav-menu {
    /* position: static; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
